@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
}
/* header starts */
header {
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 30px;
}
.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.heading > h1 {
  font-family: "lora";
  font-size: 3rem;
  padding-top: 30px;
}
.heading > h1 > span {
  color: green;
}
.nav-list > ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 1rem;
  padding-top: 30px;
}
.nav-list > ul > li {
  list-style: none;
  margin-right: 2rem;
  padding: 10px;
}
.nav-list > ul > li > a {
  text-decoration: none;
  color: white;
  font-family: "montserrat";
  font-size: 23px;
  font-weight: 500;
  position: relative;
}
.nav-list > ul > li > a:hover {
  color: green;
  transition: all 500ms;
}

/* hero starts */
.hero-section {
  padding: 30px;
  width: 48%;
  overflow: hidden;
  margin-left: 12.55%;
  font-size: 1.5rem;
  margin-bottom: 10px;
  letter-spacing: 5px;
  margin-top: 3%;
}
.hero-heading > p {
  color: grey;
  margin-bottom: 5%;
  font-family: "montserrat";
  font-size: medium;
}

.hero-content > h1 {
  font-family: "montserrat", sans-serif;
  text-align: left;
  color: rgb(22, 186, 22);
  line-height: 82px;
}

.hero-btn > button {
  color: white;
  background-color: black;
  font-family: "montserrat";
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
  margin-left: 10px;
}
.hero-btn > button:hover {
  color: green;
  box-shadow: -10px -10px 15px 1px green;
  border-color: green;
  transition: all 600ms;
}

.main-section {
  background-color: #39b54a;
  text-align: center;
}

.main-first-content {
  text-transform: uppercase;
}
.main-first-content > h4 {
  color: black;
  font-family: "montserrat";
  font-weight: bold;
  font-size: 17px;
  padding: 13px;
  letter-spacing: 7px;
  padding-top: 3%;
}

.main-content-heading > h1 {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 78px;
  color: white;
  text-transform: capitalize;
  padding: 20px;
}
.main-content {
  padding: 10px;
  margin: auto 25%;
  text-align: center;
  padding-bottom: 5%;
}
.main-content > p {
  font-family: "montserrat";
  font-size: 19px;
  line-height: 200%;
  padding-top: 2rem;
}
.main-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-bottom: 70px;
}
.por {
  border: 1px solid white;
  padding: 20px;
  font-family: "montserrat";
  text-align: center;
}
.por > p {
  font-size: 23px;
  color: black;
}
.por > h2 {
  font-size: 90px;
}
.project-1,
.project-2,
.project-3 {
  border-top: none;
  border-left: none;
  border-right: 3%;
  border-bottom: none;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}
.project-4 {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

/* about-section starts */

.about-section {
  background-color: white;
  width: 100%;
}

.about-para > P {
  color: black;
  text-align: center;
  font-family: "montserrat";
  text-transform: capitalize;
  color: #39b54a;
  font-size: 19px;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 40px;
}
.about-heading > h1 {
  text-align: center;
  margin: auto 17rem;
  font-family: "montserrat";
  font-size: 3rem;
  color: black;
}
.under-line {
  border: 1px solid #e5e5e5;
  padding: 0px;
  opacity: 0.5;
  margin: auto 26rem;
  margin-top: 2rem;
}
.about-section-content-para {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  width: 100%;
  font-size: 20px;
  margin-left: 2rem;
  flex-wrap: wrap;
  margin-top: 30px;
  text-align: left;
  padding: 20px;
  padding-left: 30px;
}
.project-new {
  width: 47%;
  padding: 30px;
  margin-left: 30px;
}
.fa-box,
.fa-earth-europe,
.fa-bullhorn,
.fa-bezier-curve,
.fa-brush,
.fa-codepen,
.fa-code {
  color: #39b54a;
  font-size: 35px;
}

.project-heading {
  font-size: 33px;
  font-family: "montserrat";
  color: black;
  font-weight: 500;
}
.project-content {
  padding-left: 20px;
  font-family: "lora";
  padding-left: 45px;
  padding-top: 10px;
  color: black;
  font-size: large;
  width: 600px;
}

