@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
}
/* header starts */
header{
     background-image: url(/public/assets/background-image.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}
.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
}
.heading > h1 {
  font-family: "lora";
  font-size: 3rem;
}
.heading > h1 > span {
  color: green;
}
.nav-list > ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 1rem;
}
.nav-list > ul > li {
  list-style: none;
  margin-right: 2rem;
  padding: 10px;
}
.nav-list > ul > li > a {
  text-decoration: none;
  color: white;
  font-family: "montserrat";
  font-size: 23px;
  font-weight: 500;
  position: relative;
}
.nav-list > ul > li > a::after{
content: '';
border-bottom: 1px solid green;
position: absolute;
width: 100%;
left: 0px;
transform: scale(0);

}
